i{
    color: #f5f5f1;
}

.btn:first-child:active{
    border-color: transparent !important;
}

#dropdown-basic-button.btn{
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-color: dark;
    --bs-btn-border-color: #838383;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: white;
    --bs-btn-hover-bg: dark;
    --bs-btn-hover-color: dark;
    --bs-btn-border-radius: 0;
    --bs-btn-hover-border-color: white;
}

.btn.btn-sm.text-white.show.dropdown{
    /* --bs-btn-border-color: transparent; */
    --bs-btn-active-border-color: transparent;

}

footer i
{
    color: #838383;
}

footer a, 
footer p, 
footer button
{
    font-size: 0.8em;
    color: #838383;
}

footer p {
    font-size: 0.73em;
}

.col-2 img:hover {
    transform: scale(1.1);
    transition: transform 0.17s;
}
